h1
{
    color :blueviolet;
    font-family: fantasy;
    
}

.bleu
{
    color :red;
}
.vert
{
    color :green;
    font-style: italic;
    font-size: 20px;
    
}
#identifiant
{
    color :violet;
    font-size : small;
    text-decoration: blink;
}