#arial
{
    font-family: arial;
}
#impact
{
    font-family: impact;
}
#verdana
{
    font-family: verdana;
}
#comicsansms
{
    font-family: "comic sans ms";
}
#times
{
    font-family: "Times New Roman";
}
#trebuchet
{
    font-family: "Trebuchet MS";
}
#georgia
{
  font-family: "Georgia";
}
#porter
{
  font-family: "porter_sans_blockblock";
}
